@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
}

body {
  font-family: 'Open Sans';
}

.btn {
  font-weight: bold;
}

.reset-container {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cricket-board {
  margin-bottom: 15px;
}

.cricket-board tr:last-child td {
  border-bottom: 1px solid #ddd;
}

.cricket-board th, .cricket-board td {
  text-align: center;
}

.cricket-board th {
  text-transform: uppercase;
}

.cricket-board td.name, .cricket-board td.score {
  padding-top: 16px;
  font-weight: bold;
}

.cricket-board .strike-button {
  font-weight: bold;
}

.new-player-input-group {
  margin-bottom: 15px;
}

.events {
  list-style-type: none;
  padding: 0px;
}

.events li:first-child {
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid #ddd !important;
  border-radius: 3px;
  font-size: 18px;
}

.events li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.events li:last-child {
  border-bottom: none;
}